{% extends "base.html" %}

{% block content %}
    <div class="row">
        <form action="" method="post" class="form-inline">
            {{ form.csrf_token }}
            <div class="col-12">
                Funcionario:
                {{ dados['funcionario_name'].capitalize()}}
            </div>
            <div class="col-12">
                Cliente:
                {{ form.nome_cliente(class="form-control")}}
            </div>
            <div class="col-12">
                Serviço:
                {{ form.servico(class="form-control")}}
            </div>
            <div class="col-12">
                Horario:
                {{ dados['data']}} {{dados['horario']}} 
            </div>
            <div class="col-12">
                Novo Horario:
                {{ form.novo_horario(class="form-control", placeholder="2023-07-23 00:00:00")}} 
            </div>
            {{ form.submit }}
        </form>
    </div>
{% endblock %}
